body {
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playbutton {
    background: transparent;
    position: absolute;
    right: 10px;
    top: 18%;
    /* padding: 10px; */
    border: 0;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.playbutton:hover {
  transform: scale(1.1); /* Slight zoom effect */
  background: rgb(235, 235, 235);
  border-radius: 5px;
}

.dist {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 250px;
  height: 50px;
  justify-content: center;
  border: 1px solid black;
}

.stats {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.stats-list {
  list-style: none;
  padding-left: 5px;
}

.error {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.stopwatch {
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  bottom: 60px;
  right: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.inactive {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* border: 2px solid red; */
  background-color: red;
  position: absolute;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
}

.active {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  box-shadow: 10px 0 5px red;
  animation: glow 1s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px red;
  }
  100% {
    box-shadow: 0 0 20px 10px transparent;
  }
}

.input-box {
  position: inline-block;
  width: auto;
  height: auto;
}
